# **Disclaimer -** 
                Here, only general data cleaning is being done, like there is no problem statement defined. The data in some columns are either manipulated or the entire feature is dropped. The dropped feature might be have some importance w.r.t to the specific problem statement.

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np

## Importing Dataset

In [2]:
data = pd.read_csv("movies_metadata.csv")

c:\users\hp\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.shape

(45466, 24)

In [4]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
data.shape

(45466, 24)

In [7]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

## Adult

In [8]:
data.adult.unique()
data.adult.value_counts()

data = data.loc[data.adult.isin(['False','True']),:] #explicitly setting the data where either True or Flase is present
data.adult.unique()

array(['False', 'True'], dtype=object)

# Belongs to Collection

In [9]:
data.belongs_to_collection.values[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [10]:
import ast
ast.literal_eval(data.belongs_to_collection.values[0])['id']

10194

In [11]:
import numpy as np
np.nan == np.nan

False

all elements : (check if that value is ) str -> dict -> id. <br>
here, ast library is used to converting the string to dictionary.

In [12]:
import ast

collectionIds = []
for i in data['belongs_to_collection'].values:
    if i != i:
      collectionIds.append(-1)  # if there is NaN values, it will be replaced by -1
      continue
    collectionIds.append(ast.literal_eval(i)['id'])

data['collectionId'] = collectionIds
data = data.drop(columns = ['belongs_to_collection'])

In [13]:
data

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collectionId
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,10194
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,-1
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,119050
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,-1
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,96871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,...,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,-1
45462,False,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,...,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,-1
45463,False,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,-1
45464,False,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,...,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,-1
45465,False,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,...,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,-1

# Budget

In [14]:
data.budget.dtype

dtype('O')

In [15]:
data.budget = data.budget.astype('int64')
data.budget.describe()

count    4.546300e+04
mean     4.224579e+06
std      1.742413e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

In [16]:
# Percentage where budget is zero in the data.
sum(data.budget == 0)*100/data.shape[0]

80.44563711149726

Here, dropping this feature is advisable as most of the values are 0. Also, it depends upon the problem statement, wheteher to keep ore drop this feature. As here we are not considering the problem statement as such nad hence, general cleaning is done.

In [17]:
data = data.drop(columns = ['budget'])

# Genres 
4 more features are added based on the genres types.

In [18]:
data.genres.values[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [19]:
index = 0
gen1 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen)
  if len(genList) > index:
    gen1.append(genList[0]['name'])
  else:
    gen1.append(0)

data['genre1'] = gen1

In [20]:
index = 1
gen2 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen)
  if len(genList) > index:
    gen2.append(genList[1]['name'])
  else:
    gen2.append(0)

data['genre2'] = gen2

In [21]:
index = 2
gen3 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen)
  if len(genList) > index:
    gen3.append(genList[2]['name'])
  else:
    gen3.append(0)

data['genre3'] = gen3

In [22]:
index = 3
gen4 = []

for gen in data.genres.values:
  genList = ast.literal_eval(gen)
  if len(genList) > index:
    gen4.append(genList[3]['name'])
  else:
    gen4.append(0)

data['genre4'] = gen4

In [23]:
sum(data.genre4 == 0)*100/data.shape[0]
# only 10% of the movies from the data contains 4 genre.

90.3283989178013

In [24]:
data = data.drop(columns = ['genres'])

## Home Page

In [25]:
data['homePagePresent'] = (~data.homepage.isnull())

In [26]:
data = data.drop(columns = ['homepage'])

# Id

In [27]:
(data.shape[0] - len(data.id.unique()))

30

In [28]:
# Dropping the duplicates
data = data.drop_duplicates(subset = 'id')

In [29]:
# Dropping the imdb_id as already having id for movies. 
data = data.drop(columns = ['imdb_id'])

# Original Language

In [30]:
data.original_language.value_counts()

en    32251
fr     2436
it     1529
ja     1347
de     1079
      ...
tg        1
qu        1
ay        1
mt        1
eo        1
Name: original_language, Length: 89, dtype: int64

In [31]:
# Here, through google search, we could fill these 11 null values. But here I have dropped them.
data.loc[data.original_language.isnull(),:]

,adult,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,...,title,video,vote_average,vote_count,collectionId,genre1,genre2,genre3,genre4,homePagePresent
19574,False,283101,NaN,Shadowing the Third Man,Documentary about the production of The Third ...,0.017007,/xT9csxMKYbizRQgvNzCXJ67R7er.jpg,"[{'name': 'StudioCanal', 'id': 694}, {'name': ...","[{'iso_3166_1': 'AT', 'name': 'Austria'}, {'is...",2004-10-11,...,Shadowing the Third Man,False,0.0,0.0,-1,Documentary,0,0,0,False
21602,False,103902,NaN,Unfinished Sky,An Outback farmer takes in an Afghani woman wh...,0.359818,/vfaJuZF0ocVwBEDYZhoULGuVxrz.jpg,"[{'name': 'New Holland Pictures', 'id': 10229}...","[{'iso_3166_1': 'AU', 'name': 'Australia'}]",2007-08-04,...,Unfinished Sky,False,6.4,8.0,-1,Romance,Drama,0,0,False
22832,False,359195,NaN,13 Fighting Men,A group of Union Army soldiers is charged with...,0.070647,/q5ADXvvzYtAOyrReIg1HckdPj62.jpg,"[{'name': 'Associated Producers (API)', 'id': ...","[{'iso_3166_1': 'US', 'name': 'United States o...",1960-03-31,...,13 Fighting Men,False,0.0,0.0,-1,War,Western,0,0,False
32141,False,147050,NaN,Lambchops,George and Gracie enter an elegant drawing roo...,0.073418,/upQByEwY58sHWdL3RZm7kmRc44s.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1929-10-31,...,Lambchops,False,6.5,2.0,-1,Comedy,0,0,0,False
37407,False,257095,NaN,Bajaja,The first fairy tale transformed into a full-l...,0.036841,/12wf2EkrPGxNzRbNyoau8GIFp3M.jpg,"[{'name': 'Ceskoslovenský Státní Film', 'id': ...","[{'iso_3166_1': 'CZ', 'name': 'Czech Republic'}]",1950-01-26,...,Prince Bayaya,False,5.0,1.0,-1,Animation,0,0,0,False
41047,False,332742,NaN,Song of Lahore,"Until the late 1970s, the Pakistani city of La...",0.373688,/6iJqscs2xQLKKvrTCWmlHd9rf3W.jpg,[],[],2015-11-13,...,Song of Lahore,False,6.5,2.0,-1,Documentary,0,0,0,False
41872,False,144410,NaN,Annabelle Serpentine Dance,Two dancers perform in succession facing a sta...,1.58434,/l7Lzvah6PL6vdMF5p0elKiyYqp9.jpg,"[{'name': 'Edison Manufacturing Company', 'id'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1895-04-01,...,Annabelle Serpentine Dance,False,5.7,20.0,-1,Documentary,0,0,0,False
44057,False,380438,NaN,Lettre d'une inconnue,NaN,0.001283,/gk32ZWTYgfTXctEyCDAWeMcxo7X.jpg,[],"[{'iso_3166_1': 'FR', 'name': 'France'}]",2001-01-01,...,Lettre d'une inconnue,False,0.0,0.0,-1,Drama,0,0,0,False
44410,False,381096,NaN,Garn,The traditional crafts of crochet and knitting...,0.067624,/olEOCEGTW15WBPC0UnmLjokrmNF.jpg,[],[],2016-03-12,...,Yarn,False,0.0,0.0,-1,Animation,Documentary,0,0,False
44576,False,381525,NaN,WiNWiN,American investment fund buys Austrian compani...,0.030766,/pErCRQoc3nt8lCsExd3fFYgyBox.jpg,[],"[{'iso_3166_1': 'AT', 'name': 'Austria'}]",2016-01-27,...,WiNWiN,False,0.0,0.0,-1,0,0,0,0,False
44655,False,104473,NaN,La prise de Tournavos,"Three military men, seen inside a fortificatio...",0.471325,/4VmQBE9qBRxCE3gHtSAa5AUsURq.jpg,"[{'name': 'Star-Film', 'id': 7159}]","[{'iso_3166_1': 'FR', 'name': 'France'}]",1897-01-01,...,The Surrender of Tournavos,False,4.6,5.0,-1,Action,War,Drama,History,False

In [32]:
data = data.dropna(subset = ['original_language'])

# Title

In [33]:
data.title.isnull().sum()

3

In [34]:
len(data.title.unique())/data.shape[0]

0.9305402668310511

In [35]:
data.original_title.isnull().sum()
len(data.original_title.unique())/data.shape[0]

0.9546034961032099

In [36]:
data.loc[data.title.isnull(),:]

,adult,id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,...,title,video,vote_average,vote_count,collectionId,genre1,genre2,genre3,genre4,homePagePresent
19729,False,82663,en,Midnight Man,British soldiers force a recently captured IRA...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1,Action,Thriller,Drama,0,False
29502,False,122662,ja,マルドゥック・スクランブル 排気,Third film of the Mardock Scramble series.,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,122661,Animation,Science Fiction,0,0,True
35586,False,249260,en,Avalanche Sharks,A group of skiers are terrorized during spring...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1,TV Movie,Action,Horror,Science Fiction,False

In [37]:
data = data.drop(columns = ['title'])

In [38]:
# Converting the words into lowercase, as python is case sensitive. And removing extra spaces.
data.original_title = data['original_title'].str.lower()
data.original_title = data['original_title'].str.strip()

# Overview

In [39]:
data.overview = data.overview.str.lower()
data.overview = data.overview.str.strip()
data.overview

0        led by woody, andy's toys live happily in his ...
1        when siblings judy and peter discover an encha...
2        a family wedding reignites the ancient feud be...
3        cheated on, mistreated and stepped on, the wom...
4        just when george banks has recovered from his ...
                               ...
45461          rising and falling between a man and woman.
45462    an artist struggles to finish his work while a...
45463    when one of her hits goes wrong, a professiona...
45464    in a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45422, dtype: object

# Popularity

In [40]:
data.popularity = data.popularity.astype('float64')

In [41]:
# Popularity cannot be greater than 100.
sum(data.popularity > 100)

16

In [42]:
#Ooutlier detection - 1) domain knowledge 2) u need to handle them 
data = data.loc[(data.popularity > 0) & (data.popularity <= 100),:]

# Vote Count and Vote Average

In [43]:
data.vote_count.isnull().sum()

0

In [44]:
data.vote_average = data.vote_average.astype('float64')
data.vote_count = data.vote_count.astype('int64')

In [45]:
data.vote_count.describe()

count    45337.000000
mean       107.905309
std        473.834165
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [46]:
data.vote_average.describe()

count    45337.000000
mean         5.626528
std          1.912920
min          0.000000
25%          5.000000
50%          6.000000
75%          6.800000
max         10.000000
Name: vote_average, dtype: float64

# Poster Path

In [47]:
data.poster_path.isnull().sum()

355

In [48]:
data = data.drop(columns = ['poster_path'])

# Production Companies

In [49]:
data.production_companies.values[0]

"[{'name': 'Pixar Animation Studios', 'id': 3}]"

In [50]:
index = 0
prod1 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(genList) > index:
    prod1.append(prodList[index]['name'])
  else:
    prod1.append(0)

data['Producer1'] = prod1

In [51]:
index = 1
prod2 = []

for prod in data.production_companies.values:
  prodList = ast.literal_eval(prod)
  if len(genList) > index:
    prod2.append(prodList[index]['name'])
  else:
    prod2.append(0)

data['Producer2'] = prod2

In [52]:
data = data.drop(columns = ['production_companies','production_countries'])

# Release Dates

In [53]:
data.release_date.values[0]

'1995-10-30'

In [54]:
data.release_date.isnull().sum()

58

In [55]:
data.release_date

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45337, dtype: object

In [56]:
data = data.dropna(subset = ['release_date'])

In [57]:
# Converting the string into datetime.
data.release_date = pd.to_datetime(data.release_date, format='%Y-%m-%d', errors='ignore')

In [58]:
data.release_date

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45460   1991-05-13
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45279, dtype: datetime64[ns]

# Revenues

In [59]:
data.revenue.describe()

count    4.527900e+04
mean     1.095660e+07
std      6.151401e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.068224e+09
Name: revenue, dtype: float64

In [60]:
count = 0
for x in data.revenue.values:
    if x == 0:
        count = count + 1
print(count)

37898

In [61]:
sum(data.revenue == 0)*100/data.shape[0]

83.69884493915502

In [62]:
data = data.drop(columns = ['revenue'])

# RunTime

In [63]:
data.runtime.describe()

count    45034.000000
mean        94.199694
std         38.327323
min          0.000000
25%         85.000000
50%         95.000000
75%        107.000000
max       1256.000000
Name: runtime, dtype: float64

In [64]:
data.loc[data.runtime > 300,:]

,adult,id,original_language,original_title,overview,popularity,release_date,runtime,spoken_languages,status,...,vote_average,vote_count,collectionId,genre1,genre2,genre3,genre4,homePagePresent,Producer1,Producer2
6747,False,42044,en,shoah,claude lanzmann directed this 9 1/2 hour docum...,1.978031,1985-11-01,566.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,...,8.7,36,-1,Documentary,0,0,0,False,0,0
7415,False,140207,en,tinker tailor soldier spy,"in the bleak days of the cold war, espionage v...",1.564586,1979-09-10,320.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,7.6,10,-1,Thriller,Drama,Mystery,0,False,0,0
7420,False,11659,it,la meglio gioventú,"spanning four decades, from the chaotic 1960s ...",6.040001,2003-05-19,366.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,...,8.0,88,-1,Drama,0,0,0,False,0,0
7933,False,36627,pl,potop,"following with fire and sword', this is an ada...",0.868637,1974-09-02,315.0,"[{'iso_639_1': 'pl', 'name': 'Polski'}]",Released,...,7.4,7,138163,History,Adventure,War,0,False,0,0
8635,False,29266,ru,война и мир,seven-hour epic based on the eponymous book by...,2.604571,1966-03-14,422.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,...,7.5,16,-1,War,Drama,History,Romance,False,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44176,False,444623,ru,idiot,tv miniseries of the dostoevsky novel.,0.074146,2003-04-01,550.0,[],Released,...,7.0,1,-1,TV Movie,0,0,0,False,0,0
44464,False,197854,ja,強殖装甲ガイバー,sho and his friend tetsurou stumble upon an od...,0.025827,1989-09-25,360.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,6.2,5,-1,Science Fiction,Animation,Foreign,Action,False,0,0
44721,False,458298,en,the keepers,a seven-part docuseries about the unsolved mur...,1.576170,2017-05-19,432.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,7.9,16,-1,Crime,Documentary,Drama,0,True,0,0
44758,False,128733,en,hollywood,the definitive documentary about the american ...,0.055713,1980-02-09,780.0,[],Released,...,8.0,1,-1,0,0,0,0,False,0,0
45462,False,111109,tl,siglo ng pagluluwal,an artist struggles to finish his work while a...,0.178241,2011-11-17,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,...,9.0,3,-1,Drama,0,0,0,False,0,0

# Spoken Languages

In [65]:
data.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45460             [{'iso_639_1': 'en', 'name': 'English'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45279, dtype: object

In [66]:
totalLanguages = []

for prod in data.spoken_languages.values:
  prodList = ast.literal_eval(prod)
  totalLanguages.append(len(prodList))

data['TotalLanguages'] = totalLanguages

In [67]:
data = data.drop(columns = ['spoken_languages'])

# Status

In [68]:
data.status.isnull().sum()

79

In [69]:
data = data.dropna(subset = ['status'])

In [70]:
data.status.value_counts()

Released           44843
Rumored              227
Post Production       97
In Production         19
Planned               13
Canceled               1
Name: status, dtype: int64

In [71]:
data.columns

Index(['adult', 'id', 'original_language', 'original_title', 'overview',
       'popularity', 'release_date', 'runtime', 'status', 'tagline', 'video',
       'vote_average', 'vote_count', 'collectionId', 'genre1', 'genre2',
       'genre3', 'genre4', 'homePagePresent', 'Producer1', 'Producer2',
       'TotalLanguages'],
      dtype='object')

# Others

In [72]:
data.tagline.isnull().sum()

24843

In [73]:
data.video.value_counts()

False    45112
True        88
Name: video, dtype: int64

In [74]:
data = data.drop(columns = ['tagline','video'])

# Final Data

In [75]:
data

,adult,id,original_language,original_title,overview,popularity,release_date,runtime,status,vote_average,vote_count,collectionId,genre1,genre2,genre3,genre4,homePagePresent,Producer1,Producer2,TotalLanguages
0,False,862,en,toy story,"led by woody, andy's toys live happily in his ...",21.946943,1995-10-30,81.0,Released,7.7,5415,10194,Animation,Comedy,Family,0,True,0,0,1
1,False,8844,en,jumanji,when siblings judy and peter discover an encha...,17.015539,1995-12-15,104.0,Released,6.9,2413,-1,Adventure,Fantasy,Family,0,False,0,0,2
2,False,15602,en,grumpier old men,a family wedding reignites the ancient feud be...,11.712900,1995-12-22,101.0,Released,6.5,92,119050,Romance,Comedy,0,0,False,0,0,1
3,False,31357,en,waiting to exhale,"cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,127.0,Released,6.1,34,-1,Comedy,Drama,Romance,0,False,0,0,1
4,False,11862,en,father of the bride part ii,just when george banks has recovered from his ...,8.387519,1995-02-10,106.0,Released,5.7,173,96871,Comedy,0,0,0,False,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,30840,en,robin hood,"yet another version of the classic epic, with ...",5.683753,1991-05-13,104.0,Released,5.7,26,-1,Drama,Action,Romance,0,False,0,0,1
45462,False,111109,tl,siglo ng pagluluwal,an artist struggles to finish his work while a...,0.178241,2011-11-17,360.0,Released,9.0,3,-1,Drama,0,0,0,False,0,0,1
45463,False,67758,en,betrayal,"when one of her hits goes wrong, a professiona...",0.903007,2003-08-01,90.0,Released,3.8,6,-1,Action,Drama,Thriller,0,False,0,0,1
45464,False,227506,en,satana likuyushchiy,"in a small town live two brothers, one a minis...",0.003503,1917-10-21,87.0,Released,0.0,0,-1,0,0,0,0,False,0,0,0
45465,False,461257,en,queerama,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,75.0,Released,0.0,0,-1,0,0,0,0,False,0,0,1

In [76]:
data.shape

(45200, 20)